@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    outline: 0;
    border: none;
}
/*Corpo da página*/
body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    background: #fff;
}
/*Barra de navegação da página juntamente com o logo e título dela*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.soon{
    width: 1.688rem;
    height: 1.687rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.656rem;
}

.name-logo{
    color:#3A404E;
    width: 8.313rem;
    height: 1.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0.375rem;
}

.links a{
    padding: 1.75rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 18.75rem;
    text-decoration: none;
    margin-right: 2rem;
    color: #667085;
}



.log-in{
    color: #667085;
    width: 2.938rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1.25rem;
    text-decoration: none;
}

.register-button{
    background-color:#8E2424;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.125rem;
    gap: 0.5rem;
    width: 7rem;
    height: 2.75rem;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px;
    cursor: pointer;
}

.register{
    color: #fff;
    width: 4.75rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
/*Seção que informa mais sobre a empresa*/
.about-us{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0px;
    gap: 1.5rem;
}

.about-us span{
    color: #8E2424;
    width: 4.875rem;
    height: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.about-us h1{
    color: #101828;
    width: 37.688rem;
    height: 3.75rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
}

.about-us p{
    color: #667085;
    width: 791px;
    height: 3.75rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 0.438rem;
}
/*Seção onde é mostrada as métricas da empresa*/
.container-metrics{
    display: flex;
    justify-content: center;
    padding: 0px 0px 6rem;
    gap: 4rem;
}

.metric-stats{
    color: #8E2424;
    width: 12.5rem;
    height: 1.688rem;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.5rem;
}

.metric-title{
    color: #101828;
    width: 17.5rem;
    height: 1.75rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 3.75rem;
}

.metric-description{
    color: #667085;
    width: 17.5rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

/*Seção de busca de talentos*/
.container-talent{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-talent h4{
    background: rgba(142, 36, 36, 0.05);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    width: 101px;
    height: 20px;
    color: #8E2424;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.container-talent h3{
    margin-top: 1rem;
    width: 48rem;
    height: 2.75rem;
    color: #101828;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
}

.container-talent span{
    margin-top: 1.25rem;
    width: 48rem;
    height: 1.875rem;
    color: #667085;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
}

.container-talent img{
    margin-top: 4rem;
    width: 76rem;
    height: 25rem;
    left: 7rem;
    top: 18.625rem;
}

/*Seção de vagas*/
.container-vacanies{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
}

.container-vacanies h3{
    color: #101828;
    width: 48rem;
    height: 1.875rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 4.5rem;
}

.vacanies-geral{
    box-sizing: border-box;
    color: grey;
    padding: 1.5rem 1.5rem 1.75rem;
    gap: 1.25rem;
    width: 48rem;
    height: 8.5rem;
    background-color: #fff;
    border: 0.063rem solid #EAECF0;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

.vacanies{
    color: #101828;
    width: 45rem;
    height: 1.75rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.informations{
    color: #667085;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    height: 1.5rem;
}

.full{
    margin-right: 1.25rem;
}
/*Seção de depoimentos*/
.container-testimonial{
    background-color: rgba(196, 25, 25, 0.03);
    border-radius: 1rem;
    margin-top: 4.313rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    text-align: center;
}

.container-testimonial h3{
    color: #8E2424;
    width: 68rem;
    height: 1.25rem;
    font-weight: 600;
    font-size: 1,25rem;
    line-height: 1.25rem;
}

.container-testimonial h2{
    color: #101828;
    width: 68rem;
    height: 5.5rem;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.container-testimonial img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 12.5rem;
}

#name{
    color: #101828;
    width: 68rem;
    height: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

#function{
    color: #667085;
    width: 68rem;
    height: 1.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

footer{
    background: #F9FAFB;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 96px 0px;
    gap: 2rem;
    text-align: center;
}

footer h2{
    color: #101828;
    width: 48rem;
    height: 2.75rem;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
}

#first{
    color: #667085;
    width: 48rem;
     height: 1.875rem;
     font-weight: 400;
     font-size: 1.25rem;
     line-height: 1.875rem;
}

form input{
    gap: 0.5rem;
    width: 22.5rem;
    height: 3rem;
    background: #fff;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px;
    color: rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
}

form ::placeholder{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #667085;
    padding-left: 1rem;
}

.register-button{
    background-color:#8E2424;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.125rem;
    gap: 0.5rem;
    width: 7rem;
    height: 2.75rem;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px;
    cursor: pointer;
}

#copy{
    width: 24.563;
    height: 1.5rem;
    color: #98A2B3;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}